.Sidebar_Container{
    width: 300px ;
    height: 100vh;
    border-radius: 20px;
}
.Sidebar_Menu{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: blue;
    width: 100%;
    height: 100vh;
    border-radius: 15px;
}
.Sidebar_MenuButton{
    height: 60px;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.Sidebar_MenuSpan{
    width: 100%;
    color: white;
    text-decoration:none ;
    margin-left: 20px;
    font-size: 20px;
    display: flex;
}
.Sidebar_Menu_Span_icon{
    width: 15%;
    height: 100vh;
}
.Sidebar_Menu_list{
    width: 100%;
}
.Sidebar_Menu_list a{
    text-emphasis: none;
    color: #fff;
}